cudatoolkit               11.5.0               h36ae40a_9    conda-forge
cudnn                     8.2.1.32             h86fa8c9_0    conda-forge
gensim                    4.1.2                    pypi_0    pypi
h5py                      3.1.0                    pypi_0    pypi
huggingface-hub           0.6.0                    pypi_0    pypi
keras-nightly             2.5.0.dev2021032900          pypi_0    pypi
keras-preprocessing       1.1.2                    pypi_0    pypi
matplotlib                3.5.0                    pypi_0    pypi
matplotlib-inline         0.1.3              pyhd8ed1ab_0    conda-forge
numpy                     1.19.5                   pypi_0    pypi
pandas                    1.3.4                    pypi_0    pypi
pillow                    8.4.0                    pypi_0    pypi
pip                       21.3.1             pyhd8ed1ab_0    conda-forge
pyrouge                   0.1.3                     dev_0    <develop>
python                    3.8.12          hf930737_2_cpython    conda-forge
pytorch                   1.11.0          py3.8_cuda11.5_cudnn8.3.2_0    pytorch
rouge                     1.0.1                    pypi_0    pypi
scipy                     1.7.2                    pypi_0    pypi
tensorboard               2.7.0                    pypi_0    pypi
tensorflow                2.5.0                    pypi_0    pypi
tensorflow-addons         0.15.0                   pypi_0    pypi
tensorflow-estimator      2.5.0                    pypi_0    pypi
tensorflow-hub            0.12.0                   pypi_0    pypi
torchaudio                0.11.0               py38_cu115    pytorch
torchvision               0.12.0               py38_cu115    pytorch
tqdm                      4.62.3                   pypi_0    pypi
transformers              4.19.1                   pypi_0    pypi
http://nlp.stanford.edu/software/stanford-corenlp-full-2016-10-31.zip
https://stackoverflow.com/questions/45894212/installing-pyrouge-gets-error-in-ubuntu